body{    
	margin: 0mm;
	background-color: #124565;
}
span,.tab{
	padding-left: 30px;
	display:block;
	margin-bottom: 0.5vw;
}
hr{
	margin: 0.1vw;
}
p{
	font-weight:900;
}
body{
	font-family: Times New Roman,Times,sans-serif;
}
a{
	line-height: 2vh;
}
input,.ajust2,select{
	width: 90%;
	margin: 0;
	padding: 0;
	font-size: 2vh;
	line-height: 0;
}
input[type=radio]{
	width: 2vh;
	height: 2vh;
}
input[type=button]{
	height: 4vh;
	line-height: 0;
}
input[type=text],input[type=password],input[type=number],select{
	border: 0;	
	margin-bottom:0.1vw;
}
.top_menu,.left_menu,.right_menu,.turn_marker{
	background: #AAAAAA;
}
.anchor,.logout{
	font-size: 150%;
	line-height:3vh
}
.anchor{
	color: blue;
}
.logout{
	font-size: 100%;
	display:none;
	color: black;
}
.border_marker,.ajust2 { 
	border-color: blue;
	border-width: 0.0vw	;
	border-style: solid; 
	position: relative;
}   
.ajust2 {
	left: 10%;
	width: 90%;
}
.top_menu{
	position: relative;
	text-align: center;
	width:50%;
	height:4vw;	
	font-size: .9vw;
	margin: auto;
	margin-bottom: 3vw;
	padding-top: 1vw;
	border-width: .2vw;
	border-top:0;
	border-bottom-left-radius: 3vw;
	border-bottom-right-radius: 3vw;
	border-color: #555555 ;
}
.left_menu,.right_menu{
	width:15%; 
	height:90%;
	position: fixed;
	bottom: 0;
}
.left_menu{
	border-top-right-radius: 10vw;
	left: 0;
}
.right_menu,.turn_marker{
	border-top-left-radius: 10vw;
	right: 0;
}
.turn_marker{
	font-size: 1vw;
	height: 10vw;
	position: relative;
}
.turn_display{
	color: indigo;
	position: absolute;
	font-size: 400%;
	right: 20%;
	bottom: 30%;
}
.middle_section{
	width: 70%;
	margin: auto;
}
.instrucions{
	height: 100%;
	color: white; 
	padding-left: 1vh;
	padding-right: 1vh;
	font-size: 150%;
	margin-bottom: 2%;
}
.game_area{
	height: 40vw;
	width: 90%;
	margin: auto;
	margin-bottom: 20vh;
	background-color: black;
	border-radius: 5vw;
	border-width:0.1vw;
	border-color: white;
}
.scores,.online_scores{
	opacity: 0.9;
	background: black;
	position: fixed;
	border-radius: 2vw;
	overflow: auto;
	width:65%;
	height:70%;
	padding: 1vw;
	display: none;
}
.scores table,.online_scores table{
	border: 1px solid white;
	border-collapse: collapse;
}
.online_scores td,.online_scores th,.scores td,.scores th{
	width: 1%;
	height: 2vw;
	border: 1px solid white;
	color:white;
}
.close{
	float: top;
	float: right;
	background: red;
	color: white;
	width: 2vw;
	height:2vw;
	text-align: center;
	font-size: 2vw;
	line-height: 2vw;
	border-radius: 0.5vw;
}
.tabuleiro {
	background: blue;  
	white-space : nowrap;
}
.load,.tabuleiro,.scores,.online_scores{
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.load,.tabuleiro{
	position: absolute;
}
.pilha {
	display: inline-block;
	margin: 0.1vw;
	border-width: 0.1vw;
	border-style: dotted;
}
.pilha:hover {
	background: cyan;
}
.eu, .ele, .vazio {
      width:  3vw;
      height: 3vw;
      margin:  0.3vw;
      border-width: 0;
      border-radius: 2.0vw;
      border-width: 0.1vw;
      border-style: inset;
	  border-color: blue;
	  background: white;
}

.eu {
      background: red;
      }

.ele {
      background: yellow;
     }
.mostra {
    box-shadow: 0px 0px 1.5vh 0.9vh cyan;
}